In [ ]:
DATA STRUCTURES

SERIES

In [2]:
import pandas as pd

In [18]:
x=[3,4,5,6,6,6,6]
z = pd.Series(x,index=["a","b","c","d","e","f","g"],dtype="float",name="Python")
print(type(z))
print(z)
z["d"]

<class 'pandas.core.series.Series'>
a    3.0
b    4.0
c    5.0
d    6.0
e    6.0
f    6.0
g    6.0
Name: Python, dtype: float64

6.0

In [22]:
d={1:[1,2,3,4,5],2:[45,63,43,43,2],3:[12,23,24,54,64]}
var1 = pd.Series(d)
var1

1         [1, 2, 3, 4, 5]
2     [45, 63, 43, 43, 2]
3    [12, 23, 24, 54, 64]
dtype: object

In [24]:
s = pd.Series(12)
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    12
dtype: int64

In [30]:
s1 = pd.Series(12,index=[1,2,3,4,5,6,7])
s2 = pd.Series(12,index=[1,2,3,4,5,6,7])
s1+s2

1    24
2    24
3    24
4    24
5    24
6    24
7    24
dtype: int64

DATAFRAME in python pandas

In [3]:
import numpy as np

l = np.array([[1,2,3,45,5,],[1,26,3,45,5]])

var = pd.DataFrame(l)
print(type(var))
var

<class 'pandas.core.frame.DataFrame'>

   0   1  2   3  4
0  1   2  3  45  5
1  1  26  3  45  5

In [15]:
d = {"a":[1,2,34,5,6],"s":[1,2,3,3,2423],"d":[1,2,3,3,2423],1:[1,2,3,3,2423]}
var1 = pd.DataFrame(d,columns=["a",1],index = ["a","s","d","f","s"])
print(var1)
type (var1)

    a     1
a   1     1
s   2     2
d  34     3
f   5     3
s   6  2423

pandas.core.frame.DataFrame

In [16]:
d = {"a":[1,2,34,5,6],"s":[1,2,3,3,2423],"d":[1,2,3,3,2423],1:[1,2,3,3,2423]}
var1 = pd.DataFrame(d)
print(var1)
type (var1)
print(var1["a"][3])

    a     s     d     1
0   1     1     1     1
1   2     2     2     2
2  34     3     3     3
3   5     3     3     3
4   6  2423  2423  2423
5

In [17]:
list_1 = [[1,2,3,4,5],[11,12,13,14,15]]
var2 = pd.DataFrame(list_1)
print(var2)

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [20]:
sr = {"s":pd.Series([1,2,3,4,5]),"r":pd.Series([1,2,3,4,5])}
var3 = pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>

Arithmetic operations

In [33]:
var = pd.DataFrame({"a":[1,2,3,4],"b":[1,2,3,4],"c":[1,2,3,4]})
print(var)

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4

In [35]:
var["d"] = var["a"]+var["b"]+var["c"]
print(var)

   a  b  c   d
0  1  1  1   3
1  2  2  2   6
2  3  3  3   9
3  4  4  4  12

In [36]:
var["d"] = var["a"]-var["b"]-var["c"]
print(var)

   a  b  c  d
0  1  1  1 -1
1  2  2  2 -2
2  3  3  3 -3
3  4  4  4 -4

In [37]:
var["d"] = var["a"]*var["b"]*var["c"]
print(var)

   a  b  c   d
0  1  1  1   1
1  2  2  2   8
2  3  3  3  27
3  4  4  4  64

In [38]:
var["d"] = var["a"]/var["b"]/var["c"]
print(var)

   a  b  c         d
0  1  1  1  1.000000
1  2  2  2  0.500000
2  3  3  3  0.333333
3  4  4  4  0.250000

In [8]:
var4 = pd.DataFrame({"a":[1,20,3,40],"b":[10,2,30,4],"c":[1,20,30,4]})
print(var4)

    a   b   c
0   1  10   1
1  20   2  20
2   3  30  30
3  40   4   4

In [20]:
var4["Python"] = var4["a"] > 5
var4["Python_1"] = var4["b"]  >20
var4

    a   b   c  Python  Python_1
0   1  10   1   False     False
1  20   2  20    True     False
2   3  30  30   False      True
3  40   4   4    True     False

<!-- Deleting,Insert functions in DataFrame  -->

In [22]:
var5 = pd.DataFrame({"a":[1,2,3,4,5],"h":[2,31,3211,21,21]})
var5

   a     h
0  1     2
1  2    31
2  3  3211
3  4    21
4  5    21

In [38]:
var5.insert(1,"python1123",[1,2,3,5,6])
var5

,a,python1123,python!,python123,python12,python1,pythonwjefiojqiow,python,h
0,1,1,1,1,1,1,1,1,2
1,2,2,2,2,2,2,2,2,31
2,3,3,3,3,3,3,3,3,3211
3,4,5,5,5,5,4,4,4,21
4,5,6,6,6,6,5,5,5,21

In [40]:
var5["Python!"]=var5["a"][:3]
var5

,a,python1123,python!,python123,python12,python1,pythonwjefiojqiow,python,h,Python!
0,1,1,1,1,1,1,1,1,2,1.0
1,2,2,2,2,2,2,2,2,31,2.0
2,3,3,3,3,3,3,3,3,3211,3.0
3,4,5,5,5,5,4,4,4,21,NaN
4,5,6,6,6,6,5,5,5,21,NaN

KeyError: 'a'