In [ ]:
#DELETE#

In [5]:
import pandas as pd
var5 = pd.DataFrame({"a":[1,2,3,4,5],"h":[2,31,3211,21,21]})
print(var5)
varr = var5.pop("a")
print(varr)

   a     h
0  1     2
1  2    31
2  3  3211
3  4    21
4  5    21
0    1
1    2
2    3
3    4
4    5
Name: a, dtype: int64

In [3]:
var5

      h
0     2
1    31
2  3211
3    21
4    21

In [4]:
del var5["h"]
var5

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [ ]:
#How to create a csv file

In [15]:
dis ={"a":[1,2,3,4,5,6,],"b":[1,2,3,4,5,6,],"c":[1,2,3,4,5,6,]}
c = pd.DataFrame(dis)
print(c)
c.to_csv("test_new.csv",index=False,header=[1,2,3])

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3
3  4  4  4
4  5  5  5
5  6  6  6